// H2 Letter Spin
@keyframes spinOdd {
	0% { transform: perspective(100rem) rotateX(45deg) SkewY(5deg) rotateY(0deg) }
	100% { transform: perspective(100rem) rotateX(45deg) SkewY(5deg) rotateY(-1079deg) }
}

@keyframes spinEven {
	0% { transform: perspective(100rem) rotateX(-45deg) SkewY(-5deg) rotateY(0deg) }
	100% { transform: perspective(100rem) rotateX(-45deg) SkewY(-5deg) rotateY(1079deg) }
}

// Starburst Hover
@keyframes hover {
	0% { transform: translateY(0); }
	50% { transform: translateY(3rem); }
	55% { transform: translateY(3rem); }
	100% { transform: translateY(0); }
}