$hex-width: 20%;

$color-white: #fff;
$color-black: #000;
$color-blue-gradient: rgb(72, 204, 255);
$color-purple-gradient: rgb(175, 93, 255);

$color-border-line: #eee;
$color-nav-icon-bg: #333;
$color-footer-bkgd: #525252;
$color-footer-btn-drop-shadow: #aaa;
$png-drop-shadow: 0.5rem 0.5rem 0.5rem #222;

// COUNTDOWN COLORS
$countdown-yellow: #FFE5BD;
$countdown-yellow-dark: #ED9D1f;
$countdown-yellow-light: #FFD798;

// IPLAYYOULISTEN COLORS
$color-ipul-green: #06c49e;
$color-ipul-green-dark: #007A62;

// PYTHON POKER COLORS
$color-poker-green: #00cf23;
$color-poker-green-dark: #008417;
$color-poker-green-light: #54DB6C;

// SCS COLORS
$color-scs-navy: #032946;
$color-scs-blue: #367FB6;
$color-scs-red: #fc0000;

// BUZZTIME COLORS
$color-bzt-blue: #00a9e0;
$color-bzt-blue-light: #06c1ff;
$color-bzt-blue-dark: #00769D;

// MCC COLORS
$color-mcc-coral: #E55C60;
$color-mcc-coral-light: #FEB5B7;
$color-mcc-coral-dark: #A31B1E;

// CAIDA COLORS
$color-caida-blue: #2c3e50;
$color-caida-blue-light: #617486;
$color-caida-blue-dark: #0D2032;

// UTILITIES
$margin-bottom-sml: 2rem;
$margin-bottom-med: 5rem;
$margin-bottom-lrg: 8rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-vertical-small: 6rem;

$footer-drop-shadow: 0.5rem 0.5rem 0.5rem #222;
