.countdown {
	max-width: 100%;
	overflow-x: hidden; 

	& .section-hero .heading-primary {
		-webkit-text-stroke-color: $color-black!important;
	}
	
	&__content {
		background-image: linear-gradient(to right bottom, $countdown-yellow-light, $countdown-yellow-dark 67%);
		color: $color-black;

		&-wrapper {
			padding-top: 10rem;
		}

		.u-content-wrapper__img img {
			width: 100%;
    		height: 100%;
    	}

		.btn {
			transform: translateX(-50%);
			margin: 5rem 0 10rem 50%;

			&:hover {
				transform: translateX(-50%) translateY(-1rem);
			}
		}
	}

	.form-container {
		background-size: 100%;
		border-radius: 3px;
		box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
		margin: 10rem 0 2rem;

		.form {
			width: 50%;
			padding: 4rem;
			margin-bottom: 12rem;
		}
	}
}