.dice-poker {
	max-width: 100%;
	overflow-x: hidden; 
	
	&__content {
		background-image: linear-gradient(to right bottom, $color-poker-green-light, $color-poker-green-dark 67%);
		color: $color-white;

		&-wrapper {
			padding-top: 10rem;
		}

		.u-content-wrapper__img img {
			width: 100%;
			height: 100%;
			box-shadow: none;
			-webkit-filter: drop-shadow($png-drop-shadow);
  			filter: drop-shadow($png-drop-shadow);
		}

		.btn {
			transform: translateX(-50%);
			margin: 5rem 0 10rem 50%;

			&:hover {
				transform: translateX(-50%) translateY(-1rem);
			}
		}
	}

	.form-container {
		background-size: 100%;
		border-radius: 3px;
		box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
		margin: 10rem 0 2rem;

		.form {
			width: 50%;
			padding: 4rem;
			margin-bottom: 12rem;
		}
	}
}