.section-overview {
	margin-top: 5rem;
	margin-bottom: 10rem;

	@include respond(tab-port) {
		margin-bottom: 3rem;
	}

	.heading-secondary {
		margin-bottom: 0;
	}

	.heading-tertiary {
		text-align: center;
	}

	&__col {
		display: inline-block;
		padding: 1rem;
		background-color: $color-poker-green;
		width: 100%;
	
		&-1 {
			@include respond(tab-port) {
				margin-bottom: 6rem;
			}
		}
	}
}