/*
0 - 480px:			Phone
481px - 1024px:		Tablet Portrait
1025px - 1280px:	Tablet Landscape
1281px - 1799px:	Desktop (normal styles apply)
1800px + : 			Big Desktop

$breakpoint Argument Choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
@keyframes spinOdd {
  0% {
    transform: perspective(100rem) rotateX(45deg) SkewY(5deg) rotateY(0deg); }
  100% {
    transform: perspective(100rem) rotateX(45deg) SkewY(5deg) rotateY(-1079deg); } }

@keyframes spinEven {
  0% {
    transform: perspective(100rem) rotateX(-45deg) SkewY(-5deg) rotateY(0deg); }
  100% {
    transform: perspective(100rem) rotateX(-45deg) SkewY(-5deg) rotateY(1079deg); } }

@keyframes hover {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(3rem); }
  55% {
    transform: translateY(3rem); }
  100% {
    transform: translateY(0); } }

@keyframes slideBottomRightCircle {
  0% {
    margin-top: -11%; }
  50% {
    margin-top: 167%; }
  60% {
    margin-top: 167%; }
  100% {
    margin-top: -11%; } }

@keyframes slideTopRightCircle {
  0% {
    margin-top: -8%; }
  50% {
    margin-top: -187%; }
  60% {
    margin-top: -187%; }
  100% {
    margin-top: -8%; } }

@keyframes slideTopLeftCircle {
  0% {
    margin-top: -8%; }
  50% {
    margin-top: -177%; }
  60% {
    margin-top: -177%; }
  100% {
    margin-top: -8%; } }

@keyframes slideBottomLeftCircle {
  0% {
    margin-top: -8%; }
  50% {
    margin-top: 174%; }
  60% {
    margin-top: 174%; }
  100% {
    margin-top: -8%; } }

@keyframes slideTopSectionLeft {
  0% {
    margin-left: -12%; }
  50% {
    margin-left: 189%; }
  60% {
    margin-left: 189%; }
  100% {
    margin-left: -12%; } }

@keyframes slideTopSectionRight {
  0% {
    margin-left: 100%; }
  50% {
    margin-left: -105%; }
  60% {
    margin-left: -105%; }
  100% {
    margin-left: 100%; } }

@keyframes slideBottomSectionLeft {
  0% {
    margin-left: -12%; }
  50% {
    margin-left: 189%; }
  60% {
    margin-left: 189%; }
  100% {
    margin-left: -12%; } }

@keyframes slideBottomSectionRight {
  0% {
    margin-left: 100%; }
  50% {
    margin-left: -105%; }
  60% {
    margin-left: -105%; }
  100% {
    margin-left: 100%; } }

@keyframes slideLeftSectionTop {
  0% {
    margin-left: -12%; }
  50% {
    margin-left: 160%; }
  60% {
    margin-left: 160%; }
  100% {
    margin-left: -12%; } }

@keyframes slideLeftSectionBottom {
  0% {
    margin-left: 100%; }
  50% {
    margin-left: -86%; }
  60% {
    margin-left: -86%; }
  100% {
    margin-left: 100%; } }

@keyframes slideRightSectionTop {
  0% {
    margin-left: -12%; }
  50% {
    margin-left: 174%; }
  60% {
    margin-left: 174%; }
  100% {
    margin-left: -12%; } }

@keyframes slideRightSectionBottom {
  0% {
    margin-left: 100%; }
  50% {
    margin-left: -79%; }
  60% {
    margin-left: -79%; }
  100% {
    margin-left: 100%; } }

@keyframes orbit_zAxis {
  0% {
    z-index: -1000; }
  25% {
    z-index: 1000; }
  80% {
    z-index: 1000; }
  81% {
    z-index: -1000; }
  100% {
    z-index: -1000; } }

@keyframes orbit {
  0% {
    transform: rotateZ(0deg) translateX(12rem) rotateZ(0deg) rotateX(-45deg) rotateY(-60deg); }
  100% {
    transform: rotateZ(360deg) translateX(12rem) rotateZ(-360deg) rotateX(-45deg) rotateY(-60deg); } }

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 80em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 64em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 30em) {
    html {
      font-size: 43.75%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

@font-face {
  font-family: 'Marvin Visions';
  src: url("./fonts/MarvinVisions/MarvinVisions-Bold.eot");
  /* IE9 Compat Modes */
  src: url("./fonts/MarvinVisions/MarvinVisions-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/MarvinVisions/MarvinVisions-Bold.woff2") format("woff2"), url("./fonts/MarvinVisions/MarvinVisions-Bold.woff") format("woff"), url("./fonts/MarvinVisions/MarvinVisions-Bold.otf") format("truetype"); }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.heading-primary {
  font-family: 'Marvin Visions';
  font-size: 6rem;
  text-align: center;
  /* prevents vertical shake on keyframe animations */
  backface-visibility: hidden;
  color: transparent;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  line-height: 1;
  letter-spacing: 1rem; }
  .heading-primary span {
    -webkit-text-stroke-width: 0;
    font-size: 12rem;
    letter-spacing: 1.4rem;
    background-image: linear-gradient(to right, #48ccff, #af5dff);
    display: inline-block;
    -webkit-background-clip: text; }

.heading-secondary {
  font-family: 'Marvin Visions';
  font-size: 4.5rem;
  color: #000;
  text-align: center;
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
  width: max-content; }
  @media only screen and (max-width: 30em) {
    .heading-secondary {
      font-size: 4rem; } }
  .heading-secondary__letter-container {
    display: inline-block;
    letter-spacing: 0.5rem; }
  .heading-secondary__letter {
    display: inline-block;
    transform: perspective(100rem) rotateX(45deg);
    z-index: 100; }
    .heading-secondary__letter-animate {
      animation-name: spinOdd;
      animation-duration: 3s;
      animation-timing-function: ease-out; }
    .heading-secondary__letter--even {
      transform: perspective(100rem) rotateX(-45deg); }
      .heading-secondary__letter--even-animate {
        animation-name: spinEven;
        animation-duration: 3s;
        animation-timing-function: ease-out; }

.heading-tertiary {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: bold; }

p {
  font-size: 1.7rem; }

.u-margin-bottom-sml {
  margin-bottom: 2rem; }

.u-margin-bottom-med {
  margin-bottom: 5rem; }

.u-margin-bottom-lrg {
  margin-bottom: 8rem; }

.u-content-wrapper__p {
  max-width: 70rem;
  margin: 0 auto; }

.u-content-wrapper__img {
  display: flex;
  justify-content: center;
  margin: 3rem 0; }
  .u-content-wrapper__img img {
    box-shadow: 2px 4px 14px #000; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
  opacity: 0.25;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btn {
  /* After pseudo element can be used for adding an element
	like we already have, but behind the button. Content attribute
	is always necessary as well as display. It is treated like a
	child of the button, so it refers to the parent tag. */ }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.3s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer; }
  .btn:hover {
    transform: translateY(-1rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
      /* set initial state for animation */
      transition: all 0.6s; }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-5px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4); }
  .btn--white {
    background-color: #fff;
    color: #222; }
    .btn--white::after {
      background-color: #fff; }
  .btn--green {
    background-color: green;
    color: #fff; }
    .btn--green::after {
      background-color: green; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    /* move it behind the original button*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
  .btn--animated {
    animation: moveInBottom 0.5s ease-out .75s;
    /* automatically apply styles of 0% before animation starts */
    animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  color: green;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid green;
  padding: 3px;
  font-size: 1.6rem;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: green;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  transform: translateY(-2px); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    height: 52rem;
    transition: all 0.8s ease;
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to left top, #ED9D1f, #FFD798); }
      .card__side--back-2 {
        background-image: linear-gradient(to left top, #007A62, #06c49e); }
      .card__side--back-3 {
        background-image: linear-gradient(to left top, #008417, #54DB6C); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-blend-mode: screen; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #48CCFF, #AF5DFF); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #48CCFF, #AF5DFF); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #48CCFF, #AF5DFF); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 75%;
    font-family: 'Marvin Visions'; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    z-index: 10;
    position: relative; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(72, 204, 255, 0.85), rgba(175, 93, 255, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(72, 204, 255, 0.85), rgba(175, 93, 255, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(72, 204, 255, 0.85), rgba(175, 93, 255, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
    .card__cta-details {
      text-align: center;
      margin-bottom: 8rem;
      color: #fff; }
    .card__cta-tools {
      font-weight: 700;
      font-size: 1.9rem; }
    .card__cta-list {
      font-weight: 400;
      list-style-type: none;
      font-size: 1.7rem; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__details {
        padding: 1rem 3rem; }
      .card__cta {
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; }
      .card__price-box {
        margin-bottom: 3rem; }
      .card__price-value {
        font-size: 4rem; } }

.form {
  width: 50%;
  padding: 4rem; }
  .form__pre-header {
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: -1.7rem; }
  .form .orbit-path {
    border-radius: 50%;
    width: 20rem;
    position: relative;
    transform: rotateY(60deg) rotateX(45deg);
    transform-style: preserve-3d;
    animation: orbit_zAxis;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
    .form .orbit-path .starburst-container {
      top: -17rem;
      transform-origin: -960% 210%; }
      .form .orbit-path .starburst-container__orbit {
        animation-name: orbit;
        animation-duration: 8s;
        animation-timing-function: linear;
        z-index: 100; }
        .form .orbit-path .starburst-container__orbit .starburst {
          transform: scale(0.33) rotate(45deg); }
  .form .heading-secondary {
    margin-bottom: 2rem; }
  @media only screen and (max-width: 30em) {
    .form__group {
      text-align: center; } }
  .form__group:not(:last-child) {
    margin-bottom: 1rem; }
  .form__textarea {
    resize: vertical;
    min-height: 5rem;
    height: 5rem;
    max-height: 25rem; }
  .form__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all 0.3s; }
    @media only screen and (max-width: 64em) {
      .form__input {
        width: 100%; } }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #48ccff; }
      .form__input:focus:invalid {
        border-bottom: 3px solid #af5dff; }
    .form__input::-webkit-input-placeholder {
      color: #000; }
  .form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form .heading-tertiary {
    margin-bottom: 1rem; }
    @media only screen and (max-width: 30em) {
      .form .heading-tertiary {
        text-align: center; } }
  .form__radio-group {
    width: 49%;
    display: inline-block;
    margin-bottom: 1rem; }
  .form__radio-input {
    display: none; }
  .form__radio-label {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem; }
  .form__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid #af5dff;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: -.4rem;
    left: 0; }
    .form__radio-button::after {
      height: 1.3rem;
      width: 1.3rem;
      content: "";
      display: block;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #af5dff;
      opacity: 0;
      transition: opacity 0.2s; }
  .form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
    opacity: 1; }
  @media only screen and (max-width: 30em) {
    .form .btn {
      margin-top: 1rem; } }

@media only screen and (max-width: 64em) {
  #form {
    width: 65%; } }

@media only screen and (max-width: 30em) {
  #form {
    width: 100%; } }

.story {
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 4rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
  overflow: hidden;
  background-image: linear-gradient(to right bottom, #48CCFF, #AF5DFF);
  opacity: 1;
  color: white; }
  @media only screen and (max-width: 40em) {
    .story {
      transform: skewX(0); } }
  .story > * {
    transform: skewX(12deg); }
    @media only screen and (max-width: 40em) {
      .story > * {
        transform: skewX(0deg); } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    position: relative;
    overflow: hidden;
    border-radius: 50%; }
    @supports (-webkit-clip-path: circle(50% at 50% 50%)) or (clip-path: circle(50% at 50% 50%)) {
      .story__shape {
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        width: 15rem;
        height: 15rem;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        border-radius: none; } }
    @media only screen and (max-width: 64em) {
      .story__shape {
        transform: translateX(-1rem); } }
    @media only screen and (max-width: 40em) {
      .story__shape {
        width: 10rem;
        height: 10rem;
        transform: translateX(3rem); } }
    @media only screen and (max-width: 30em) {
      .story__shape {
        transform: translateX(3rem) skewX(0); } }
  .story__img {
    height: 100%;
    transform: translateX(0rem) scale(1.2);
    backface-visibility: hidden;
    transition: all 0.5s; }
  .story__content {
    background-size: cover;
    background-position: center center; }
    @media only screen and (max-width: 40em) {
      .story__content-logo {
        margin-top: 0.5rem;
        width: 12rem; } }
    .story__content .heading-tertiary {
      width: 100%;
      text-transform: uppercase;
      letter-spacing: 1.5px; }
    .story__content-text {
      margin: 1.5rem 0; }
    .story__content-author {
      font-weight: 700; }
      .story__content-author span:not(:last-child) {
        margin-right: 0.5rem; }
      .story__content-author-name {
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-size: 2rem; }
      .story__content-author-title, .story__content-author-company {
        font-style: italic; }
  .story__text {
    transform: translateX(-2rem); }
    @media only screen and (max-width: 64em) {
      .story__text {
        transform: translateX(0); } }
  .story__letter {
    transform: skewX(12deg);
    display: inline-block; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(0rem) scale(1);
    filter: brightness(80%); }

.showcase {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  transition: transform 0.3s; }
  .showcase:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.starburst-container {
  width: 20%;
  box-sizing: border-box;
  height: 0;
  position: relative;
  /*Set min-width/max-width for object.
	More than 300 or less than 100 causes some seperation of elements*/
  max-width: 230px;
  min-width: 190px;
  display: inline-block;
  animation-name: hover;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; }

.starburst {
  height: 100%;
  width: 100%;
  display: inline-block;
  position: relative; }
  .starburst__circle {
    height: 0;
    width: 50%;
    border-radius: 50%;
    opacity: 0.4;
    position: absolute;
    padding-top: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: -100; }
  .starburst__rect {
    border: 3px solid black;
    width: 20%;
    height: 0;
    padding-bottom: 20%;
    position: absolute;
    margin-top: 39%;
    margin-left: 39%; }
    .starburst__rect--horiz {
      transform: skewX(30deg) skewY(30deg); }
    .starburst__rect--vert {
      transform: skewX(-30deg) skewY(-30deg) rotate(180deg); }
      .starburst__rect--vert .starburst__ext--right {
        right: 100%; }
      .starburst__rect--vert .starburst__ext--top {
        top: 158%; }
      .starburst__rect--vert .starburst__ext--left {
        left: 95%; }
      .starburst__rect--vert .starburst__ext--bottom {
        top: -65%; }
  .starburst__ext {
    height: 0px;
    width: 145%;
    border: 1.5px solid black;
    position: absolute; }
    .starburst__ext--right {
      transform: rotate(0deg);
      right: -130%;
      top: -3px; }
    .starburst__ext--top {
      transform: rotate(90deg);
      left: 33%;
      top: -73%; }
    .starburst__ext--left {
      transform: rotate(0deg);
      left: -130%;
      top: 100%; }
    .starburst__ext--bottom {
      transform: rotate(90deg);
      left: -78%;
      top: 165%; }
  .starburst__rect-tip {
    height: 8px;
    width: 8px;
    border-radius: 4px;
    background-color: black;
    display: inline-block;
    position: absolute;
    margin-top: -4.5px; }

.starburst__rect--horiz .starburst__rect-tip {
  transform: skewX(-30deg) skewY(-30deg); }

.starburst__rect--vert .starburst__rect-tip {
  transform: skewX(30deg) skewY(30deg); }

/*Dots touching circle*/
/*Top & Bottom right circle dot, respectively*/
.starburst__rect--vert .starburst__rect-tip--bottom1,
.starburst__rect--horiz .starburst__rect-tip--top2 {
  margin-left: 190%; }

/*Top & Bottom left circle dot, respectively*/
.starburst__rect--horiz .starburst__rect-tip--bottom1,
.starburst__rect--vert .starburst__rect-tip--top2 {
  margin-left: -105%; }

/*Dots on tips*/
/*top left*/
.starburst__rect--horiz .starburst__rect-tip--top1,
.starburst__rect--horiz .starburst__rect-tip--left1,
.starburst__rect--vert .starburst__rect-tip--bottom2,
.starburst__rect--vert .starburst__rect-tip--right1 {
  margin-left: -12%; }

/*top right*/
.starburst__rect--vert .starburst__rect-tip--top1,
.starburst__rect--vert .starburst__rect-tip--left1,
.starburst__rect--horiz .starburst__rect-tip--bottom2,
.starburst__rect--horiz .starburst__rect-tip--right1 {
  margin-left: 92%; }

/*Correct Dot Skewing*/
/*top left*/
.starburst__rect--horiz .starburst__rect-tip--top1,
.starburst__rect--horiz .starburst__rect-tip--top2,
.starburst__rect--horiz .starburst__rect-tip--bottom1,
.starburst__rect--horiz .starburst__rect-tip--bottom2 {
  transform: skewX(30deg) skewY(30deg); }

/*top right*/
.starburst__rect--vert .starburst__rect-tip--top1,
.starburst__rect--vert .starburst__rect-tip--top2,
.starburst__rect--vert .starburst__rect-tip--bottom1,
.starburst__rect--vert .starburst__rect-tip--bottom2 {
  transform: skewX(-30deg) skewY(-30deg); }

/*left bottom, right top*/
.starburst__rect--vert .starburst__rect-tip--left1,
.starburst__rect--vert .starburst__rect-tip--right1 {
  transform: skewX(10deg) skewY(45deg); }

/*left top, right bottom*/
.starburst__rect--horiz .starburst__rect-tip--left1,
.starburst__rect--horiz .starburst__rect-tip--right1 {
  transform: skewX(-10deg) skewY(-45deg); }

/*Animations*/
/*Top right touching circle dot*/
.starburst__rect--vert .starburst__rect-tip--bottom1 {
  animation-name: slideTopRightCircle;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 3s;
  left: -4px; }

/*Bottom right touching circle dot*/
.starburst__rect--horiz .starburst__rect-tip--top2 {
  animation-name: slideBottomRightCircle;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 0.75s; }

/*Top left touching circle dot*/
.starburst__rect--horiz .starburst__rect-tip--bottom1 {
  animation-name: slideTopLeftCircle;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 2.5s; }

/*Bottom Left touching circle dot*/
.starburst__rect--vert .starburst__rect-tip--top2 {
  animation-name: slideBottomLeftCircle;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
  left: 5px; }

/*Top section left dot*/
.starburst__rect--horiz .starburst__rect-tip--top1 {
  animation-name: slideTopSectionLeft;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 1.25s; }

/*Top section right dot*/
.starburst__rect--vert .starburst__rect-tip--top1 {
  animation-name: slideTopSectionRight;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 1.5s; }

/*Bottom section right dot*/
.starburst__rect--horiz .starburst__rect-tip--bottom2 {
  animation-name: slideBottomSectionRight;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 0.5s; }

/*Bottom section left dot*/
.starburst__rect--vert .starburst__rect-tip--bottom2 {
  animation-name: slideBottomSectionLeft;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 0s; }

/*Left section top dot*/
.starburst__rect--horiz .starburst__rect-tip--left1 {
  animation-name: slideLeftSectionTop;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 2.75s; }

/*Left section bottom dot*/
.starburst__rect--vert .starburst__rect-tip--left1 {
  animation-name: slideLeftSectionBottom;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 2.5s; }

/*Right section top dot*/
.starburst__rect--vert .starburst__rect-tip--right1 {
  animation-name: slideRightSectionTop;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 1.75s; }

/*Right section bottom dot*/
.starburst__rect--horiz .starburst__rect-tip--right1 {
  animation-name: slideRightSectionBottom;
  -webkit-animation-delay: 0.75s;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; }

.footer {
  height: auto;
  min-height: 30rem;
  background-color: #525252;
  width: 100%;
  color: #fff;
  padding-bottom: 3rem; }
  .footer__header {
    font-size: 1.6rem;
    line-height: 3rem;
    margin: 2rem 0 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center; }
  .footer__about {
    font-size: 1.5rem; }
    .footer__about img {
      width: 13.5rem;
      height: 13.5rem;
      border: 1px solid #fff;
      float: left;
      margin-top: 1rem;
      margin-right: 2rem;
      border-radius: 50%;
      shape-outside: circle();
      -webkit-filter: drop-shadow(5px 5px 5px #222);
      filter: drop-shadow(5px 5px 5px #222); }
  .footer .col-1-of-2 {
    display: flex;
    flex-direction: column; }
  .footer__links {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem; }
    .footer__links-single {
      display: flex;
      align-items: center;
      flex-direction: column;
      transition: 0.3s ease all;
      font-size: 1.2rem; }
      .footer__links-single a {
        height: 7rem;
        background-color: #fff;
        border-radius: 50%;
        width: 7rem;
        margin-bottom: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
        z-index: 1;
        transition: 0.3s ease all; }
        .footer__links-single a:hover, .footer__links-single a:focus {
          box-shadow: 0 0.6rem 0 #aaa;
          transform: translateY(-0.6rem); }
        .footer__links-single a:active {
          box-shadow: 0 0.3rem 0 #aaa;
          transform: translateY(-0.3rem); }
        .footer__links-single a:hover + p,
        .footer__links-single a:focus + p {
          transform: translateY(-10.1rem) scale(1.1); }
        .footer__links-single a:active + p {
          transform: translateY(-9.8rem) scale(1.1); }
        .footer__links-single a img {
          width: 5rem;
          z-index: 2;
          position: relative; }
      .footer__links-single p {
        font-size: inherit;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        transition: 0.3s ease all; }
  .footer__badges {
    display: flex;
    justify-content: center;
    margin: 2rem 0; }
    .footer__badges img {
      width: 5rem;
      height: 7rem;
      -webkit-filter: drop-shadow(5px 5px 5px #222);
      filter: drop-shadow(5px 5px 5px #222); }
    .footer__badges img:not(:last-child) {
      margin-right: 3rem; }
  .footer__copyright {
    font-size: 1.1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.5px; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 64em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 64em) {
    .row {
      max-width: 80rem;
      padding: 0 3rem; } }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
    @media only screen and (max-width: 64em) {
      .row [class^="col-"] {
        width: 100% !important;
        margin-right: 0;
        margin-bottom: 6rem; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (2 * 6rem)) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - (2 * 6rem)) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - (3 * 6rem)) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - (3 * 6rem)) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - (3 * 6rem)) / 4) + (2 * 6rem)); }

.header {
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  min-height: 50rem;
  height: 95vh;
  max-width: 100%; }
  .header__content-box {
    z-index: 100;
    overflow: hidden;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    pointer-events: none; }
    @media only screen and (max-width: 64em) {
      .header__content-box .heading-primary {
        font-size: 4rem;
        margin-left: 1rem;
        -webkit-text-stroke-width: 2px; }
        .header__content-box .heading-primary span {
          font-size: 9rem;
          letter-spacing: 1.1rem; } }
    @media only screen and (max-width: 30em) {
      .header__content-box .heading-primary {
        font-size: 3rem;
        margin-left: 1rem;
        -webkit-text-stroke-width: 1px; }
        .header__content-box .heading-primary span {
          font-size: 8rem;
          letter-spacing: 0.9rem; } }
  .header__hex-background {
    position: relative;
    z-index: -100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; }
    .header__hex-background-col--1 {
      transform: translateX(-20%) translateY(10%) rotate(60deg); }
    .header__hex-background-col--2 {
      transform: translateX(-1.75%) translateY(-62.75%) rotate(60deg); }
    .header__hex-background-col--3 {
      transform: translateX(16.5%) translateY(-122.75%) rotate(60deg); }
    .header__hex-background-col--4 {
      transform: translateX(16.5%) translateY(-207.5%) rotate(60deg); }
    .header__hex-background-col--5 {
      transform: translateX(16.5%) translateY(-292.25%) rotate(60deg); }
    .header__hex-background-col--6 {
      transform: translateX(16.5%) translateY(-376.75%) rotate(60deg); }
    .header__hex-background-col--7 {
      transform: translateX(16.5%) translateY(-461.25%) rotate(60deg); }
    .header__hex-background-col--8 {
      transform: translateX(16.5%) translateY(-517.25%) rotate(60deg); }
    .header__hex-background-col--9 {
      transform: translateX(16.5%) translateY(-644.25%) rotate(60deg); }
    .header__hex-background-col--10 {
      transform: translateX(16.5%) translateY(-728.75%) rotate(60deg); }
  .header__hex {
    position: relative;
    transform-origin: 10% 50%;
    margin-bottom: -2%;
    transform: rotate(90deg);
    min-width: 19.6rem;
    opacity: 0.3; }
    .header__hex--top {
      width: 0;
      height: 0;
      border-bottom: 5.7692308vw solid white;
      border-right: 10vw solid transparent;
      border-left: 10vw solid transparent; }
    .header__hex--middle {
      width: 20%;
      height: 0;
      padding-bottom: calc(20% * 0.57692307);
      background-color: white; }
    .header__hex--bottom {
      width: 0;
      height: 0;
      border-top: 5.7692308vw solid white;
      border-right: 10vw solid transparent;
      border-left: 10vw solid transparent; }
  .header__img-background {
    overflow: hidden;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -200;
    height: 110vh;
    width: 100%;
    top: 0;
    right: 0; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 64em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 64em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#af5dff, #48ccff);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 64em) {
    .navigation__background {
      top: 3.8rem;
      right: 3.8rem; } }
  @media only screen and (max-width: 30em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: -50%;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all 0.4s; }
  .navigation__link:link span, .navigation__link:visited span {
    display: inline-block;
    margin-right: 1.5rem; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #000;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(60); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  left: 0; }

.navigation__icon {
  position: relative;
  margin-top: 3.4rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  transform: rotate(135deg);
  top: 0; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  transform: rotate(-135deg);
  top: 0; }

.dice-poker {
  max-width: 100%;
  overflow-x: hidden; }
  .dice-poker__content {
    background-image: linear-gradient(to right bottom, #008417, #54DB6C 67%);
    color: #fff; }
    .dice-poker__content-wrapper {
      padding-top: 10rem; }
    .dice-poker__content .u-content-wrapper__img img {
      box-shadow: none;
      -webkit-filter: drop-shadow(5px 5px 5px #222);
      filter: drop-shadow(5px 5px 5px #222); }
    .dice-poker__content .btn {
      transform: translateX(-50%);
      margin: 5rem 0 10rem 50%; }
      .dice-poker__content .btn:hover {
        transform: translateX(-50%) translateY(-1rem); }
  .dice-poker .form-container {
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    margin: 10rem 0 2rem; }
    .dice-poker .form-container .form {
      width: 50%;
      padding: 4rem;
      margin-bottom: 12rem; }

.section-work {
  position: relative;
  margin: 5rem 0 10rem; }
  .section-work .col-1-of-1 {
    max-width: 114rem;
    height: 10rem;
    z-index: 500;
    position: absolute;
    text-align: center;
    top: -22rem; }
    @media only screen and (max-width: 64em) {
      .section-work .col-1-of-1 {
        max-width: 80rem;
        padding: 0 8rem;
        margin-left: -2rem;
        top: -26rem; } }
    @media only screen and (max-width: 30em) {
      .section-work .col-1-of-1 {
        padding: 0 3rem;
        margin-left: -3rem;
        top: -28rem; } }
  @media only screen and (max-width: 64em) {
    .section-work .heading-secondary {
      margin-top: 2rem; } }

.section-orgs {
  position: relative;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  min-height: 100vh;
  max-width: 100%;
  background: linear-gradient(to bottom right, #48ccff, #af5dff); }
  .section-orgs .heading-secondary {
    margin-top: 10rem;
    margin-bottom: 10rem; }
    @media only screen and (max-width: 64em) {
      .section-orgs .heading-secondary__letter-container:nth-child(20) {
        display: block; } }
  .section-orgs .row {
    margin-bottom: 25rem;
    position: relative; }

.section-contact {
  margin-top: 15rem;
  margin-bottom: 15rem;
  position: relative;
  z-index: 1; }
  @media only screen and (max-width: 40em) {
    .section-contact {
      margin-top: 20rem; } }
  .section-contact .col-1-of-1 {
    max-width: 114rem;
    height: 10rem;
    z-index: 500;
    position: absolute;
    text-align: center;
    top: -32rem; }
    @media only screen and (max-width: 64em) {
      .section-contact .col-1-of-1 {
        max-width: 80rem;
        padding: 0 8rem;
        margin-left: -2rem; } }
    @media only screen and (max-width: 40em) {
      .section-contact .col-1-of-1 {
        top: -39rem; } }
    @media only screen and (max-width: 46em) {
      .section-contact .col-1-of-1 {
        top: -44rem; } }
    @media only screen and (max-width: 30em) {
      .section-contact .col-1-of-1 {
        padding: 0 3rem;
        margin-left: -3rem; } }

.buzztime {
  max-width: 100%;
  overflow-x: hidden; }
  .buzztime__content {
    background-image: linear-gradient(to right bottom, #06c1ff, #00769D 67%);
    color: #fff; }
    .buzztime__content-wrapper {
      padding-top: 10rem; }
    .buzztime__content .btn {
      transform: translateX(-50%);
      margin: 5rem 0 10rem 50%; }
      .buzztime__content .btn:hover {
        transform: translateX(-50%) translateY(-1rem); }
  .buzztime .form-container {
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    margin: 10rem 0 2rem; }
    .buzztime .form-container .form {
      width: 50%;
      padding: 4rem;
      margin-bottom: 12rem; }

.countdown {
  max-width: 100%;
  overflow-x: hidden; }
  .countdown .section-hero .heading-primary {
    -webkit-text-stroke-color: #000 !important; }
  .countdown__content {
    background-image: linear-gradient(to right bottom, #ED9D1f, #FFD798 67%);
    color: #000; }
    .countdown__content-wrapper {
      padding-top: 10rem; }
    .countdown__content .btn {
      transform: translateX(-50%);
      margin: 5rem 0 10rem 50%; }
      .countdown__content .btn:hover {
        transform: translateX(-50%) translateY(-1rem); }
  .countdown .form-container {
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    margin: 10rem 0 2rem; }
    .countdown .form-container .form {
      width: 50%;
      padding: 4rem;
      margin-bottom: 12rem; }

.ipyl {
  max-width: 100%;
  overflow-x: hidden; }
  .ipyl__content {
    background-image: linear-gradient(to right bottom, #06C49E, #007A62 67%);
    color: #fff; }
    .ipyl__content-wrapper {
      padding-top: 10rem; }
    .ipyl__content .btn {
      transform: translateX(-50%);
      margin: 5rem 0 10rem 50%; }
      .ipyl__content .btn:hover {
        transform: translateX(-50%) translateY(-1rem); }
  .ipyl .form-container {
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    margin: 10rem 0 2rem; }
    .ipyl .form-container .form {
      width: 50%;
      padding: 4rem;
      margin-bottom: 12rem; }

.mccd {
  max-width: 100%;
  overflow-x: hidden; }
  .mccd__content {
    background-image: linear-gradient(to right bottom, #FEB5B7 0%, #E55C60 67%, #A31B1E 100%);
    color: #fff; }
    .mccd__content-wrapper {
      padding-top: 10rem; }
    .mccd__content .btn {
      transform: translateX(-50%);
      margin: 5rem 0 10rem 50%; }
      .mccd__content .btn:hover {
        transform: translateX(-50%) translateY(-1rem); }
  .mccd .form-container {
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    margin: 10rem 0 2rem; }
    .mccd .form-container .form {
      width: 50%;
      padding: 4rem;
      margin-bottom: 12rem; }

.scs {
  max-width: 100%;
  overflow-x: hidden; }
  .scs__content {
    background-image: linear-gradient(to right bottom, #032946, #367FB6 67%);
    color: #fff; }
    .scs__content-wrapper {
      padding-top: 10rem; }
    .scs__content .btn {
      transform: translateX(-50%);
      margin: 5rem 0 10rem 50%; }
      .scs__content .btn:hover {
        transform: translateX(-50%) translateY(-1rem); }
  .scs .form-container {
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    margin: 10rem 0 2rem; }
    .scs .form-container .form {
      width: 50%;
      padding: 4rem;
      margin-bottom: 12rem; }

.section-hero {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  min-height: 65rem;
  height: 95vh;
  max-width: 100%; }
  @media only screen and (max-width: 30em) {
    .section-hero {
      min-height: 50rem; } }
  .section-hero__heading {
    padding: 5rem 0; }
  .section-hero__devices {
    margin: 0 auto;
    display: block;
    max-width: 80rem;
    width: 80%; }

.section-overview {
  margin-top: 5rem;
  margin-bottom: 10rem; }
  @media only screen and (max-width: 64em) {
    .section-overview {
      margin-bottom: 3rem; } }
  .section-overview .heading-secondary {
    margin-bottom: 0; }
  .section-overview .heading-tertiary {
    text-align: center; }
  .section-overview__col {
    display: inline-block;
    padding: 1rem;
    background-color: #00cf23;
    width: 100%; }
    @media only screen and (max-width: 64em) {
      .section-overview__col-1 {
        margin-bottom: 6rem; } }
