.form {
	width: 50%;
	padding: 4rem;

	&__pre-header {
		text-align: center;
    	font-size: 1.6rem;
    	text-transform: uppercase;
    	margin-bottom: -1.7rem;
	}

	.orbit-path {
		border-radius: 50%;
		width: 20rem;
		position: relative;
		transform: rotateY(60deg) rotateX(45deg);
		transform-style: preserve-3d;
		animation: orbit_zAxis;
		animation-duration: 8s;
		animation-timing-function: linear; 
		animation-iteration-count: infinite;

		.starburst-container {
			top: -17rem;
			transform-origin: -960% 210%;
		
			&__orbit {
				animation-name: orbit;
				animation-duration: 8s;
				animation-timing-function: linear;
				z-index: 100;
				
				.starburst {
					transform: scale(0.33) rotate(45deg);
				}
			}
		}
	}

	.heading-secondary {
		margin-bottom: 2rem;
	}

	@include respond(phone) {
		&__group {
			text-align: center;
		}
	} 

	&__group:not(:last-child) {
		margin-bottom: 1rem;
	}

	&__textarea {
		resize: vertical;
		min-height: 5rem;
		height: 5rem;
		max-height: 25rem;
	}

	&__input {
		font-size: 1.5rem;
		// inputs don't inherit color or font-size.
		font-family: inherit;
		color: inherit;
		padding: 1.5rem 2rem;
		border-radius: 2px;
		background-color: rgba($color-white, 0.5);
		border: none;
		border-bottom: 3px solid transparent;
		width: 90%;
		display: block;
		transition: all 0.3s;

		@include respond(tab-port) {
			width: 100%;
		}

		&:focus {
			outline: none;
			box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
			border-bottom: 3px solid $color-blue-gradient;

			&:invalid {
				border-bottom: 3px solid $color-purple-gradient;
			}
		}


		&::-webkit-input-placeholder {
			color: $color-black;
		}

	}

	&__label {
		font-size: 1.2rem;
		font-weight: 700;
		margin-left: 2rem;
		margin-top: 0.7rem;
		display: block;
		transition: all 0.3s;
	}

	// Use adjacent sibling selector +. 
	// Selects the sibling after the current selector. 
	// Use ~ as a general sibling selector instead of directly after.
	&__input:placeholder-shown + &__label {
		opacity: 0;
		visibility: hidden;
		transform: translateY(-4rem);
	}

	.heading-tertiary{
		margin-bottom: 1rem;

		@include respond(phone) {
			text-align: center;
		} 
	}

	&__radio-group {
		width: 49%;
		display: inline-block;
		margin-bottom: 1rem;

		// @include respond(tab-port) {
		// 	width: 100%;
		// 	margin-bottom: 2rem;
		// }
	}

	&__radio-input {
		display: none;
	}

	&__radio-label {
		font-size: 1.6rem;
		cursor: pointer;
		position: relative;
		padding-left: 4.5rem;
	}

	&__radio-button {
		height: 3rem;
		width: 3rem;
		border: 5px solid $color-purple-gradient;
		border-radius: 50%;
		display: inline-block;
		position: absolute;
		top: -.4rem;;
		left: 0;

		&::after {
			height: 1.3rem;
			width: 1.3rem;
			content: "";
			display: block;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color:$color-purple-gradient;
			opacity: 0;
			transition: opacity 0.2s;
		}
	}
	// as soon as label gets hit, it becomes checked, then we 
	// select the sibling of that, and then the child.
	&__radio-input:checked ~ &__radio-label &__radio-button::after {
		opacity: 1;
	}

	@include respond(phone) {
		.btn {
			margin-top: 1rem;
		}
	}
}

@include respond(tab-port) {
	#form {
		width: 65%;
	}
} 

@include respond(phone) {
	#form {
		width: 100%;
	}
} 