.starburst-container {
	width: 20%;
	box-sizing: border-box;
	height: 0;
	position: relative;
	/*Set min-width/max-width for object.
	More than 300 or less than 100 causes some seperation of elements*/
	max-width: 230px;
	min-width: 190px;
	display: inline-block;
	animation-name: hover;
	animation-duration: 6s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.starburst {
	height: 100%;
	width: 100%;
	display: inline-block;
	position: relative;

	&__circle {
		height: 0;
		width: 50%;
		border-radius: 50%;
		opacity: 0.4;
		position: absolute;
		padding-top: 50%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 50%);
		z-index: -100;
	}

	&__rect {
		border: 3px solid black;
		width: 20%;
		height: 0;
		padding-bottom: 20%;
		position: absolute;
		margin-top: 39%;
		margin-left: 39%;
		
		&--horiz {
			transform: skewX(30deg) skewY(30deg);
		}

		&--vert {
			transform: skewX(-30deg) skewY(-30deg) rotate(180deg);
			
			& .starburst__ext--right {
				right: 100%;
			}

			& .starburst__ext--top {
				top: 158%;
			}

			& .starburst__ext--left {
				left: 95%;
			}

			& .starburst__ext--bottom {
				top: -65%;
			}
		}
	}

	&__ext {
		height: 0px;
		width: 145%;
		border: 1.5px solid black;
		position: absolute;

		&--right {
			transform: rotate(0deg);
			right: -130%;
			top: -3px;
		}

		&--top {
			transform: rotate(90deg);
			left: 33%;
			top: -73%;
		}

		&--left {
			transform: rotate(0deg);
			left: -130%;
			top: 100%;
		}

		&--bottom {
			transform: rotate(90deg);
			left: -78%;
			top: 165%;
		}
	}

	&__rect-tip {
		height: 8px;
		width: 8px;
		border-radius: 4px;
		background-color: black;
		display: inline-block;
		position: absolute;
		margin-top: -4.5px;
	}	
}

.starburst__rect--horiz .starburst__rect-tip {
	transform: skewX(-30deg) skewY(-30deg);
}

.starburst__rect--vert .starburst__rect-tip {
	transform: skewX(30deg) skewY(30deg);
}

/*Dots touching circle*/
	/*Top & Bottom right circle dot, respectively*/
	.starburst__rect--vert .starburst__rect-tip--bottom1,
	.starburst__rect--horiz .starburst__rect-tip--top2 {
		margin-left: 190%;
		// animation-name: slide;
		// animation-duration: 8s;
		// animation-timing-function: ease-in-out;
		// animation-iteration-count: infinite;
	}
					
	/*Top & Bottom left circle dot, respectively*/
	.starburst__rect--horiz .starburst__rect-tip--bottom1,
	.starburst__rect--vert .starburst__rect-tip--top2 {
		margin-left: -105%;
	}
/*Dots on tips*/
	/*top left*/
	.starburst__rect--horiz .starburst__rect-tip--top1,
	/*left top*/
	.starburst__rect--horiz .starburst__rect-tip--left1,
	/*bottom left*/
	.starburst__rect--vert .starburst__rect-tip--bottom2,
	/*right top*/
	.starburst__rect--vert .starburst__rect-tip--right1 {
		margin-left: -12%;
	}
	
	/*top right*/
	.starburst__rect--vert .starburst__rect-tip--top1,
	/*left bottom*/
	.starburst__rect--vert .starburst__rect-tip--left1,
	/*bottom right*/
	.starburst__rect--horiz .starburst__rect-tip--bottom2,
	/*right bottom*/
	.starburst__rect--horiz .starburst__rect-tip--right1 {
		margin-left: 92%;
	}

/*Correct Dot Skewing*/
	/*top left*/
	.starburst__rect--horiz .starburst__rect-tip--top1, 
	/*bottom right touching circle*/
	.starburst__rect--horiz .starburst__rect-tip--top2,
	/*top left touching circle*/
	.starburst__rect--horiz .starburst__rect-tip--bottom1, 
	/*bottom right*/
	.starburst__rect--horiz .starburst__rect-tip--bottom2 {
		transform: skewX(30deg) skewY(30deg);
	}

	/*top right*/
	.starburst__rect--vert .starburst__rect-tip--top1, 
	/*bottom left touching circle*/
	.starburst__rect--vert .starburst__rect-tip--top2,
	/*top right touching circle*/
	.starburst__rect--vert .starburst__rect-tip--bottom1, 
	/*bottom left*/
	.starburst__rect--vert .starburst__rect-tip--bottom2 {
		transform: skewX(-30deg) skewY(-30deg);
	}

	/*left bottom, right top*/
	.starburst__rect--vert .starburst__rect-tip--left1,
	.starburst__rect--vert .starburst__rect-tip--right1 {
		transform: skewX(10deg) skewY(45deg);
	}

	/*left top, right bottom*/
	.starburst__rect--horiz .starburst__rect-tip--left1,
	.starburst__rect--horiz .starburst__rect-tip--right1 {
		transform: skewX(-10deg) skewY(-45deg);
	}

/*Animations*/
	/*Top right touching circle dot*/
	.starburst__rect--vert .starburst__rect-tip--bottom1 {
		animation-name: slideTopRightCircle;
		@include dotAnimation;
		-webkit-animation-delay: 3s;
		left: -4px;
	}
	/*Bottom right touching circle dot*/
	.starburst__rect--horiz .starburst__rect-tip--top2 {
		animation-name: slideBottomRightCircle;
		@include dotAnimation;
		-webkit-animation-delay: 0.75s;
	}
	/*Top left touching circle dot*/
	.starburst__rect--horiz .starburst__rect-tip--bottom1 {
		animation-name: slideTopLeftCircle;
		@include dotAnimation;
		-webkit-animation-delay: 2.5s;
	}
	/*Bottom Left touching circle dot*/
	.starburst__rect--vert .starburst__rect-tip--top2 {
		animation-name: slideBottomLeftCircle;
		@include dotAnimation;
		-webkit-animation-delay: 1s;
		left: 5px;
	}
	/*Top section left dot*/
	.starburst__rect--horiz .starburst__rect-tip--top1 {
		animation-name: slideTopSectionLeft;
		@include dotAnimation;
		-webkit-animation-delay: 1.25s;
	}
	/*Top section right dot*/
	.starburst__rect--vert .starburst__rect-tip--top1 {
		animation-name: slideTopSectionRight;
		@include dotAnimation;
		-webkit-animation-delay: 1.5s;
	}
	/*Bottom section right dot*/
	.starburst__rect--horiz .starburst__rect-tip--bottom2 {
		animation-name: slideBottomSectionRight;
		@include dotAnimation;
		-webkit-animation-delay: 0.5s;
	}
	/*Bottom section left dot*/
	.starburst__rect--vert .starburst__rect-tip--bottom2 {
		animation-name: slideBottomSectionLeft;
		@include dotAnimation;
		-webkit-animation-delay: 0s;
	}
	/*Left section top dot*/
	.starburst__rect--horiz .starburst__rect-tip--left1 {
		animation-name: slideLeftSectionTop;
		@include dotAnimation;
		-webkit-animation-delay: 2.75s;
	}
	/*Left section bottom dot*/
	.starburst__rect--vert .starburst__rect-tip--left1 {
		animation-name: slideLeftSectionBottom;
		@include dotAnimation;
		-webkit-animation-delay: 2.5s;
	}
	/*Right section top dot*/
	.starburst__rect--vert .starburst__rect-tip--right1 {
		animation-name: slideRightSectionTop;
		@include dotAnimation;
		-webkit-animation-delay: 1.75s;
	}
	/*Right section bottom dot*/ 
	.starburst__rect--horiz .starburst__rect-tip--right1 {
		animation-name: slideRightSectionBottom;
		-webkit-animation-delay: 0.75s;
		@include dotAnimation;	
	}