.story {
	box-shadow: 0 3rem 6rem rgba($color-black, .1);
	border-radius: 3px;
	padding: 4rem;
	font-size: 1.6rem;
	transform: skewX(-12deg);
	overflow: hidden;
	background-image: linear-gradient(to right bottom, #48CCFF, #AF5DFF);
	opacity: 1;
	color: white;

	@include respond(phone) {
		transform: skewX(0);
	}

	& > * {
		transform: skewX(12deg);

		@include respond(phone) {
			transform: skewX(0deg);
		}
	}

	&__shape {
		width: 15rem;
		height: 15rem;
		float: left;
		position: relative;
		
		// use a transform to add padding
		transform: translateX(-3rem);
		overflow: hidden;
		border-radius: 50%;

		@supports (-webkit-clip-path: circle(50% at 50% 50%)) or (clip-path: circle(50% at 50% 50%)) {
			-webkit-clip-path: circle(50% at 50% 50%);
			clip-path: circle(50% at 50% 50%);
			width: 15rem;
			height: 15rem;
			// half of the width of the circle, starting at 
			// 50% down and 50% over as the center point.
			// only works with float, height, and width set.
			-webkit-shape-outside: circle(50% at 50% 50%);
			shape-outside: circle(50% at 50% 50%);
			border-radius: none;
		}

		@include respond(tab-port) {
			transform: translateX(-1rem);
		}

		@include respond(phone) {
			transform: translateX(-3rem) skewX(0);
		}
	}

	&__img {
		height: 100%;
		transform: translateX(-0rem) scale(1.2);
		// fixes image crop caused by transform property above
		backface-visibility: hidden;
		transition: all 0.5s;
	}

	&__content {
		background-size: cover;
		background-position: center center;

		&-logo {
			height: 3rem;
		}

		.heading-tertiary {
			width: 100%;
			text-transform: uppercase;
			letter-spacing: 1.5px;
		}

		&-text {
			margin: 1.5rem 0;
		}

		&-author {
			font-weight: 700;

			& span:not(:last-child) {
				margin-right: 0.5rem;
			}

			&-name {
				text-transform: uppercase;
				letter-spacing: 1.5px;
				font-size: 2rem;
			}

			&-title,
			&-company {
				font-style: italic;
			}
		}
	}

	&__text {
		// @include respond(phone) {
		// 	transform: skewX(0);
		// }
		transform: translateX(-2rem);
		
		@include respond(tab-port) {
			transform: translateX(0);
		}
	
	}

	&__letter {
		transform: skewX(12deg);
    	display: inline-block;
	}

	&__caption {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 20%);
		color: $color-white;
		text-transform: uppercase;
		font-size: 1.7rem;
		text-align: center;
		opacity: 0;
		transition: all 0.5s;
		//remove shaking at end of animation
		backface-visibility: hidden;
	}

	&:hover &__caption {
		opacity: 1;
		transform: translate(-50%, -50%);
	}

	&:hover &__img {
		transform: translateX(-0rem) scale(1);
		filter: brightness(80%);
	}
}