.footer {
	height: auto;
	min-height: 30rem;
	background-color: $color-footer-bkgd;
	width: 100%;
	color: $color-white;
	padding-bottom: 3rem;

	&__header {
		font-size: 1.6rem;
		line-height: 3rem;
		margin: 2rem 0 1.5rem;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		text-align: center;
	}

	&__about {
		font-size: 1.5rem;

		& img {
			width: 13.5rem;
			height: 13.5rem;
			border: 1px solid $color-white;
			float: left;
			margin-top: 1rem;
			margin-right: 2rem; 
			border-radius: 50%;
			shape-outside: circle();
			-webkit-filter: drop-shadow($footer-drop-shadow);
  			filter: drop-shadow($footer-drop-shadow);
		}
	}

	.col-1-of-2 {
		display: flex;
		flex-direction: column;
	}

	&__links {
		display: flex;
		justify-content: space-around;
		margin-top: 1rem;
		
		&-single {
			display: flex;
			align-items: center;
			flex-direction: column;
			transition: 0.3s ease all;
			font-size: 1.2rem;

			& a {
				height: 7rem;
				// border: 1rem solid $color-white;
				background-color: $color-white;
				border-radius: 50%;
				width: 7rem;
				margin-bottom: 0.5rem;
				display: flex;
				align-items: center;
				justify-content: center;
				overflow: hidden;
				position: relative;
				z-index: 1;
				transition: 0.3s ease all;

				&:hover,
				&:focus {
					box-shadow: 0 0.6rem 0 $color-footer-btn-drop-shadow;
					transform: translateY(-0.6rem);
				}

				&:active {
					box-shadow: 0 0.3rem 0 $color-footer-btn-drop-shadow;
					transform: translateY(-0.3rem);
				}

				&:hover + p,
				&:focus + p {
					transform: translateY(-10.1rem) scale(1.1);
				}

				&:active + p {
					transform: translateY(-9.8rem) scale(1.1);
				}

				& img {
					width: 5rem;
					z-index: 2;
					position: relative;
				}
			}

			& p {
				font-size: inherit;
				text-transform: uppercase;
				letter-spacing: 1.5px;
				transition: 0.3s ease all;
			}
		}
	}

	&__badges {
		display: flex;
		justify-content: center;
		margin: 2rem 0;
		
		& img {
			width: 5rem;
			height: 7rem;
			-webkit-filter: drop-shadow($png-drop-shadow);
  			filter: drop-shadow($png-drop-shadow);
		}

		& img:not(:last-child) {
			margin-right: 3rem;
		}
	}

	&__copyright {
		font-size: 1.1rem;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2.5px;
	}
}